* {
    transition: 0.5s all;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}



section {
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.section1 {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #024590;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: center;

}
.harmburger {
    overflow: hidden;
    display: none;
    width: 100%;
}

.icon {
    color: #fff;
    font-size: 35px;
    margin-left: 250px;
}

.harmburger #navMenu {
    display: none;
    background-color: #024590;
    position: absolute;
    height: 350px;
    left: 0;
    width: 100%;
    margin-top: 10px;
    transition: ease-in .5s;
    transform: translateX(180px);
}

#navMenu a {
    color: white;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: left;
}

.harmburger a svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 15px;
}
.harmburger a:hover {
    background-color: #de3380;
    color: #000;
}

.logo {
    width: 35px;
    display: flex;
    margin-right: 580px;

}

.logo img {
    width: 100%;
}

.logo h1 {
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}

.right-nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
}

.right-nav ul {
    display: flex;
    align-items: center;
    /* margin-left: 470px; */
}

.right-nav ul li {
    list-style-type: none;
    padding: 15px;
}


.right-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.ban1 {
    height: 500px;
}

.laptop {
    background-image: url(./img/first_ban.jpg);
    background-size: cover;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ban1-text h1 {
    color: white;
    font-weight: 500;
    width: 730px;
    text-align: center;
    font-size: 50px;
}

.btn1 {
    display: flex;
    justify-content: center;
}

.btn1 button {
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: #024590;
    color: white;
}



.hire {
    margin-left: 120px;
    margin-top: 20px;
}

.hire button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    /* background-color: #fe4799; */
    color: white;
    border: 4px solid #024590;
    background-color: transparent;
    cursor: pointer;
}

.second-section {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px auto;
    margin: 0 auto;
    max-width: 1440px;
    gap: 10px;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px auto;
    margin: 0 auto;
    max-width: 1100px;
    gap: 10px;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
    margin: 0 auto;
    max-width: 1100px;
    gap: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px auto;
    margin: 0 auto;
    max-width: 1440px;
    /* gap: 10px; */
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px auto;
    margin: 0 auto;
    max-width: 1440px;
    /* gap: 10px; */
}

.about {
    width: 100%;
}

.top-about div {
    background-color: #000;
}

.top-about {
    grid-column: 1/11;
}

.bottom-about {
    width: 100%;
    grid-column: 3/9;
    grid-row: 8/14;
    position: relative;
}

.left-pic {
    grid-column: 1/6;
    grid-row: 1/9;
}

.left-pic img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 70%;
}

.right-pic {
    grid-column: 6/11;
    grid-row: 1/9;
}

.right-pic img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 70%;
}

.about-pic {
    grid-column: 6/11;
    grid-row: 1/18;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.about-text {
    grid-column: 1/6;
    grid-row: 1/18;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #024590;
    background-color: #fff;
}

.content {
    margin: 0px 30px;
    margin-top: 40px;
}

.content h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

hr {
    width: 50px;
    height: 5px;
    background-color: #024590;
    border: none;
    margin-right: 400px;
}

.content p {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 40px;
    background-color: #024590;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

.about-pic img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.services {
    padding-top: 100px;
    width: 100%;
    /* background-color: #f2d5d7; */
    margin-bottom: 100px;
}

.serve {
    width: 100%;
    color: #fff;
}

.serve h2 {
    grid-column: 1/5;
}

.first-port {
    grid-column: 1/4;
    grid-row: 2/7;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    align-items: center;
    display: flex;
    
}

.second-port {
    grid-column: 4/8;
    grid-row: 2/7;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #25262a;
}

.third-port {
    grid-column: 8/11;
    grid-row: 2/7;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.design {
    margin: 0px 30px;
}

.portfolio {
    padding-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

.portfolio div {
    background-color: #fff;
}

.portfolio h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    color: #fff;
}

.one-grid {
    grid-column: 1/4;
    grid-row: 2/10;
}

.one-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.two-grid {
    grid-column: 4/8;
    grid-row: 2/10;
}

.two-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.three-grid {
    grid-row: 2/10;
    grid-column: 8/11;
}

.three-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.four-grid {
    grid-column: 1/5;
    grid-row: 10/18;
}

.four-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.five-grid {
    grid-column: 5/8;
    grid-row: 10/18;
}

.five-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.six-grid {
    grid-row: 10/18;
    grid-column: 8/11;
}

.six-grid img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.testimonial {
    width: 100%;
    padding-top: 200px;
}

.testimonial h2 {
    grid-column: 4/8;
    grid-row: 1/2;
    color: #fff;
    text-align: center;
}

.test {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.test img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.twitter {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.inner-twit {
    background-color: #fff;
    width: 80%;
    border-radius: 30px;
    height: 100%;
}

.twitt-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.twitt-pic img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.name-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding: 20px;
}

.twitt-name {
    margin-right: 10px;
}

.twitt-name h2 {
    font-size: 20px;
    margin: 0;
    color: #03a9f4;
}

.twitt-name p {
    font-size: 15px;
    margin: 0;
    color: #a1a0a1;
}

.twit-text p {
    font-size: 15px;
    padding: 20px;
    line-height: 25px;
}

.follow button {
    padding: 10px 40px;
    background-color: #03a9f4;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-left: 195px;
    cursor: pointer;
}

.twitt {
    grid-column: 1/5;
    grid-row: 1/15;
}

.facebook {
    grid-column: 5/11;
    grid-row: 1/15;
}

.inner-face h2 {
    color: #fff;
    margin: 0;
}

.face {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fb-img {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 30px;
    margin-top: 35px;
}

.fb-img img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.social-media {
    grid-column: 4/8;
    grid-row: 16/18;
    text-align: center;
}

.social-media svg {
    font-size: 35px;
    color: #03a9f4;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
}

.social-media a {
    text-decoration: none;
}

.bootstrap-iso {
    grid-column: 1/11;
    grid-row: 2/20;
}

.contact {
    width: 100%;
}

.contact h2 {
    grid-column: 1/5;
    grid-row: 1/2;
    color: #fff;
}

.left-contact {
    grid-column: 1/6;
    grid-row: 2/8;
}

.right-contact {
    grid-column: 6/11;
    grid-row: 2/8;
    display: flex;
    justify-content: center;
}

.contact-me {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
}

.contact-me input {
    display: block;
    width: 300px;
    padding-bottom: 30px;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #d8d8d8;
}

.contact-me button {
    display: block;
    padding: 10px 40px;
    background-color: #de3380;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;

}

.contact-me textarea {
    width: 300px;
    padding-bottom: 110px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #d8d8d8;
}
.foott{
    margin-top: 40px;
    height: 70px;
    background-color: #25262a;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}